* {
  font-family: Thasadith;
  font-size: 20px;
}

body {
  background: var(--bgcol);
  min-width: 300px;
  max-width: 960px;
}

:root {
  --bgcol: white;
  --maincol: #234;
  --seccol: orange;
}

section {
/*   background: orange; */
  margin: 44px auto;
}

h1 {
  font-family: Aleo;
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

p {
  font-weight: bold;
  font-size: 16px;
}

a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

#mobile-menu-button {
  background: var(--maincol);
  position: fixed;
  top: 2vw;
  right: 2vw;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  z-index: -1;
}

#mobile-menu-button::before {
  content: "";
  background: white;
  position: absolute;
  top: 4vw;
  right: 4vw;
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

#mobile-menu-icon {
  position: fixed;
  right: 13vw;
  top: 13vw;
  font-size: 2.6em;
  color: var(--bgcol);
}

#mobile-menu-icon:hover {
  animation-name: mobile-menu-hover;
  animation-duration: 1200ms;
  color: var(--maincol);
}

@keyframes mobile-menu-hover {
  0% { color: white; }
  100% { color: var(--maincol); }
}

#introduction {
  max-width: 356px;
}

#intro-contact-link:hover {
  background: yellow;
}
