:root {
  --bgcol: white;
  --maincol: #234;
  --seccol: orange;
}

* {
  font-family: Thasadith;
  font-size: 20px;
}

body {
  background: var(--bgcol);
  margin: 12px auto;
  min-width: 300px;
  max-width: 960px;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
}

header {
 margin: 18px; 
}

section {
  margin: 18px;
}

h1 {
  font-family: Aleo;
  font-size: 32px;
}

h2 {
  margin: 44px auto;
  font-size: 22px;
}

h2::before {
  content: "";
  background: yellow;
  position: absolute;
  left: -20%;
  width: 140%;
  height: 64px;
  transform: rotate(-2.5deg);
  z-index: -1;
}

#design-heading::before {
  margin-top: -2.5vw;
}

#projects-heading::before {
  margin-top: -2.7vw;
}

h3 {
  font-size: 18px;
}

p {
  font-weight: bold;
  font-size: 16px;
}

a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

#mobile-menu-button {
  background: var(--maincol);
  position: fixed;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

#mobile-menu-circle {
  background: var(--bgcol);
  position: absolute;
  top: 14px;
  right: 14px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

#mobile-menu-circle::before {
  content: "";
  background: var(--bgcol);
  position: absolute;
  top: 60px;
  right: 60px;
  width: 60px;
  height: 60px;
}

#mobile-menu-icon {
  position: fixed;
  right: 46px;
  top: 46px;
  font-size: 2.6em;
  color: var(--bgcol);
}

#mobile-menu-icon:hover {
  animation-name: mobile-menu-hover;
  animation-duration: 1200ms;
  color: var(--maincol);
}

@keyframes mobile-menu-hover {
  0% { color: var(--bgcol); }
  100% { color: var(--maincol); }
}

#introduction {
  max-width: 356px;
}

/* #introduction::before {
  content: "";
  background: yellow;
  position: absolute;
  margin-top: -2.8vw;
  left: -20%;
  width: 140%;
  height: 134px;
  transform: rotate(-3deg);
  z-index: -1;
} */

#intro-contact-link:hover {
  background: var(--seccol);
}

#project-container {
  background: var(--seccol);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.project {
  padding: 2%;
}

iframe {
  display: block;
  margin: auto;
  width: 97%;
  height: 470px;
  border: 2px solid black;
}

.project h3 {
  background: yellow;
  margin: -2px auto;
  width: 97%;
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
  text-align: center;
}
